<html>
    <head>
        <title>{{title}}</title>
        <script type = "text/javascript">
            if (!("/x".includes(document.location.toString().slice(-1)))) document.location += "/"
        </script>
    </head>
    <body>
        <h1>Welcome to {{title}}</h1>
        <p>
        	In this project you will see our 2D progress and result.
        </p>
        <ul>
        <h2>Our Problem statement:</h2>
        <p>
           How might we predict the number of resources needed for crop production such that there is sufficient crop supply for countries in Asia?
        <p>
        </ul>
        <h3>Background Information:</h3> 
        <p>
           Recently, on 15 November 2022, the world population hit 8 billion, 
           just 11 years after it reached 7 billion. With 70% of the growth to the eighth billion happening in less developed countries (source), 
           it strains communities that are already struggling to feed (source), with resources for food production being finite and prone to depletion, threatening food supply. 
           Given that Asia is projected to have the highest population by 2050, and that increasing population often drive-up demand for food, 
           we aim to determine the number of resources required such that we can be prepared with enough crops to feed Asia’s population.
        <p>
        </ul>
       <h4>Response variable (dependent): Crop Production </h4>
       </ul>
       <h5>Predictor variable (independent) :</h5> 
        <p>
           We investigated the various resources that affects the amount of crop produced in Asia such as: 
            Area of Agricultural Land  
            Freshwater Withdrawal for Agriculture 
            Number of Agricultural Machines 
            Employment in Agriculture  
        <p>
        </ul>
        <h5>Metric Used:</h5> 
        <p>
           Metric used to determine accuracy of our model is adjusted  
        <p>
        </ul>
    </body>
</html>
